name: Deploy Documentation

on:
  push:
    branches: [ "master" ]

# Grant GITHUB_TOKEN the permissions to push to the gh-pages branch
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Doxygen & Graphviz
        run: sudo apt-get install -y doxygen graphviz

      - name: Generate Documentation
        run: doxygen doxyfile

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/html