name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-release:
    name: Release for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: gcs
            asset_name: gcs-linux-x64
          - os: macos-latest
            artifact_name: gcs
            asset_name: gcs-macos-arm64
          - os: windows-latest
            artifact_name: gcs.exe
            asset_name: gcs-windows-x64.exe

    steps:
      - uses: actions/checkout@v4

      # --- Windows Setup ---
      - name: Setup MSYS2 (Windows)
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git base-devel mingw-w64-x86_64-gcc

      # --- Compilation ---
      - name: Compile (Unix)
        if: runner.os != 'Windows'
        run: make

      - name: Compile (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: make

      # --- Packaging ---
      # Rename the raw binary to the final asset name
      - name: Rename Artifact
        shell: bash
        run: |
          mv ${{ matrix.artifact_name }} ${{ matrix.asset_name }}

      # --- Uploading ---
      - name: Create Release & Upload
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.asset_name }}